body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
}


.gerador-codigo-container {
  background-color: #000000;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; 
  padding: 1rem;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif; 
  color: #FFFFFF; 
}


.gerador-codigo-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0.5rem;
  
}


.menu-icon {
  width: 1.5rem;
  height: auto;
  
}
.profile-image {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}


/* Conteúdo Principal */
.gerador-codigo-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2rem; 
}

.main-title {
  font-weight: bold;
  font-size: 2rem;
  color: #f9ecec; 
  margin-bottom: 1rem; 
}


.qrcode-display-area {
  width: 251px; 
  height: 251px; 
  background-color: #ffffff; 
  border-radius: 14px; 
  box-shadow: 0 4px 15px rgba(255, 255, 255, 0.1); 
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem; 
  overflow: hidden;
}


.qrcode-display-area canvas,
.qrcode-display-area svg {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.instruction-text {
  max-width: 320px;
  text-align: center;
  font-size: 0.875rem;
  font-weight: 500;
  color: #BCC1CD; 
  line-height: 1.5;
  margin-top: 1rem; 
}


.gerador-codigo-footer {
  width: 100%;
  max-width: 24rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  
}