@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
.botao{
    position: relative;
    background-color: #F96922;
    color: white;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    width: 50%;
    height: 20%;
    font-size: 0.5rem;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    font-weight: 700;
    margin: 0;
    font-family: 'Poppins', sans-serif;

}
@media (max-width: 400px) {
    .botao{
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        width: 60%;
        height: 10%;
        font-size: 0.4rem;
    }
}