@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

/* CONTAINER */
.botaoQRADMTP{
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;   /* horizontal */
    align-items: center;       /* vertical (se tiver altura) */
    width: 100%;
}

/* BOTÃO */
.botao {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    background-color: #F96922;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;

    border: none;
    border-radius: 1.5rem;
    cursor: pointer;

    font-size: clamp(0.8rem, 2.5vw, 1rem);
    padding: clamp(0.5rem, 1.2vw, 0.8rem) clamp(1rem, 2.5vw, 1.8rem);

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

    margin: 0; /* 🔥 remove conflito */
}
/* TELAS MÉDIAS */
@media (max-width: 600px) {
    .botao {
        width: auto;
        font-size: 0.9rem;
        padding: 0.6rem 1.4rem;
    }
}

/* MOBILE */
@media (max-width: 480px) {
    .botao {
        width: auto;
        font-size: 0.9rem;
        padding: 0.6rem 1.4rem;
    }

    .botaoQRADMTP{
                width: auto;
        font-size: 0.9rem;
        padding: 0.6rem 1.4rem;
    }
}

/* MUITO PEQUENAS */
@media (max-width: 320px) {
    .botao {
        font-size: 0.75rem;
    }
}